.formControl.error input,
.formControl.error textarea{
    border: 1px #a83333 solid;
}
.formControl.error span{
    color: #a83333;
}
.formSummaryError{
    border: 1px solid #a83333;
    padding: 5px;
    color: #a83333;
    display: inline-block;
    margin: 15px 0;
}