.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.dialogsItems .active{
    background-color: #474c53;
}
.messages{
    padding:30px;
    background-color: #474c53;
    margin: 10px;
    border-radius: 20px;
}
.messages .messageBox .message{
    color: #333;
    font-size: 24px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f3f8ff;
    max-width: 300px;
    display: inline-block;
    overflow-wrap: break-word;
}
.messages .messageBox {
    margin-bottom: 15px;

}
.dialog{
    background-color: #474c53;
    margin-bottom: 5px;
    border-radius: 5px;

}
.dialog a{
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}
.dialog a[class="active"]{
    font-weight: 700;
}

.dialogs textarea{
    width: 50%;
    resize: none;
    height: 200px;
    border: none;
    border-radius: 20px;
    padding: 30px;
    font-size: 20px;
}

.dialogs button{
    font-size: 20px;
    border-radius: 15px;
    padding: 15px 20px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    cursor: pointer;
    background-color: #f3f8ff;
}